
.currentPage {
    color: tomato;
}

.list {
    list-style: none;
}

.list li {
    padding: 0.2rem;
}

.list li :hover {
    color: green !important ;
}

.main_container {
    display: flex;
    justify-content: flex-start;
}

.sidebar_container {
    padding: 1rem;
}